<div class="row">
  <% if resource.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ol>
        <% resource.errors.full_messages.each do |message| %>
          <li ><%= message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
