<% errors = model.errors %>

<div class="row">
  <% if errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
    <h4>
      <%= I18n.t("errors.messages.not_saved",
                 count: errors.count,
                 resource: model.class.model_name.human.downcase)
      %>
    </h4>
      <ol>
        <% errors.full_messages.each do |message| %>
          <li ><%= message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
